.bg {
    background: url('../img/bg.jpg') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    min-height: 768px;
}

.random-img-pos {
    position: absolute;
}

@media only screen and (max-width: 600px) {
    .random-img-pos {
        width: 25%;
    }

    .bg {
        min-height: 300px;
    }
}
